# Виртуальное окружение
venv/
.env/
.envrc/

# Файлы Python
__pycache__/
.pytest_cache/
*.pytest_cache/
*__pycache__/
*.pyc
*.pyo
*.pyd

# IDE
.vscode/
.idea/
*.swp
*.swo

# Системные
.DS_Store
Thumbs.db